body{
    background-color: black;
}

.poster{
    border:5px white solid;
    width:50%;
    margin-left:25%;
    margin-top:100px;
    color:white;
    font-family: "Libre Baskerville", serif;
    text-align:center;

}

h1{
    text-transform: uppercase;
    font-size:3em;
}

.motivation-img{
    border:5px solid white;
    width:100%;
}